<h1>All Images</h1>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<table>
  <tr>
    <th>Image</th>
    <th>Tags</th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= image_tag image.url, class:'max-dimensions' %></td>
      <td>
        <% image.tag_list.each do |tag| %>
          <span class="js-tag"><%= link_to tag, images_path(tag: tag) %></span>
        <% end %>
      </td>
      <td> <%= button_to 'Delete', image_path(image),
            method: :delete,
            data: { confirm: 'Are you sure?'} 
            %>
      </td>
    </tr>
  <% end %>
</table>
