<h1>All Images</h1>
<table>
  <tr>
    <th>Image</th>
    <th>Tags</th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= image_tag image.url, class:'max-dimensions' %></td>
      <td><%= image.tag_list %></td>
    </tr>
  <% end %>
</table>
